---
import "@fontsource-variable/inter";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Top from "~/components/top.astro";

import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Build fast websites, faster. Astro is a new kind of site builder for the modern web. Lightning-fast performance meets powerful developer experience.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <!-- (っ◔◡◔)っ nermalcat69 ( ͡° ͜ʖ ͡°) -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <title>Astro Landing Page</title>
    <meta name="description" content={description} />
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

  </head>
  <body class="grid place-items-center text-default text-base bg-slate-50">
    <Top class="bg-white" />
    <Header class="justify-center" />
    <div class="space-y-12 py-26">
      <Intro class="justify-center" />
    </div>
    <Footer />
  </body>
</html>
