---
const { Time, Company, Title, Description, SkillOne, SkillTwo, SkillThree, SkillFour } = Astro.props;
---

<div>
    <div class="flex flex-row">
        <div class="flex flex-col">
            <span class="text-neutral-400">{Time}</span>
            <div class="mt-1 flex flex-row items-center"><h2 class="text-neutral-300"><a >{Company}</a><span class="mx-3 text-[#71CC93]">/</span><span>{Title}</span></h2></div>
            <span class="my-2 text-neutral-400">{Description}</span>
            <span class="flex flex-row font-medium gap-5 mt-1">
                <span class="experienceskill px-3 py-1 rounded-sm">{SkillOne}</span>
                <span class="experienceskill px-3 py-1 rounded-sm">{SkillTwo}</span>
                <span class="experienceskill px-3 py-1 rounded-sm">{SkillThree}</span>
                <span class="experienceskill px-3 py-1 rounded-sm">{SkillFour}</span>
            </span>
        </div>
    </div>
</div>

<style>
    .experienceskill {
        color: #71CC93;
        border: 1px solid #71CC93;
        background-color: #191E1B;
    }
</style>